Q 1: Check Even or Odd
Write a program to check if a number entered by the user is even or odd.

In [1]:
#Write code here

Q2: Calculate Monthly In-hand Salary after Deductions
Write a program that will give you the in-hand monthly salary after deductions on CTC, with HRA (10%), DA (5%), PF (3%), and the following tax slabs:

Salary (Lakhs): Tax (%)
Below 5: 0%
5-10: 10%
10-20: 20%
Above 20: 30%

In [2]:
#Write code here

In [ ]:
Q3.: Determine Profit or Loss
Write a program that takes cost price and selling price as input and determines if it's a profit or loss.

In [3]:
#Write code here

Q4: Display the First 10 Terms of the Fibonacci Series
Write a program to print the first 10 terms of the Fibonacci series.

In [4]:
#Write code here

Q5: Calculate Factorial of a Number
Write a program to find the factorial of a given number.

In [5]:
#Write code here

Q6: Reverse a Given Integer without uing inbuilt function
Write a program to reverse a given integer numbe

In [ ]:
#Write code here

Q7: Sum from 1 to N with Conditions
Take a user input integer N and find the sum from 1 to N. Skip numbers divisible by 5, and stop if the sum exceeds 300.

In [ ]:
#Write code here

Q8: Accept Numbers Until Zero, Then Display Sum and Average
Write a program that keeps accepting numbers until the user enters zero. Display the sum and average of all numbers.

In [ ]:
#Write code here

In [ ]:
Q9: Find Numbers Divisible by 7 but Not by 5
Write a program to find numbers between 2000 and 3200 that are divisible by 7 but not multiples of 5. Display them in a comma-separated sequence.

In [ ]:
#Write code here

In [ ]:
Q10. Calculate the Angle Between Clock Hands
Write a program to calculate the angle between the hour and minute hands of a clock, given time in H hours and M minutes.

In [ ]:
#Write code here

In [ ]:
Q11. Check for Rectangle Overlap
Write a program to check if two rectangles overlap, given the coordinates of their top-left and bottom-right corners.

In [ ]:
#Write code here

Q12. Calculate the Number of Bottles That Can Fit in a Tank
Given the volume of a water tank and the volume of a single bottle, calculate how many bottles of water can be filled from the tank. Assume all inputs are provided by the user.

In [ ]:
#Write code here

In [ ]:
Q13. Find the Nth Term of a Geometric Sequence
Given the first term and common ratio of a geometric sequence, find the Nth term. Assume all inputs are provided by the user.

In [ ]:
#Write code here

In [ ]:
Q14. Sum of Cubes of First N Natural Numbers
Write a program to find the sum of cubes of the first n natural numbers. The user will provide the value of n.

In [ ]:
#Write code here

In [ ]:
Q15. Calculate the Manhattan Distance Between Two Points
Write a program to calculate the Manhattan distance between two coordinates in a 2D plane. Take both coordinates from the user as input.

In [ ]:
#Write code here

In [ ]:
Q16. Swap Two Numbers Without Using a Third Variable
Take two integers as input from the user. Write a program to swap their values without using a third variable.

In [ ]:
#Write code here

In [ ]:
Q17. Convert Kilometers to Miles
Write a program to convert a distance from kilometers to miles. Assume 1 kilometer is approximately 0.621371 miles.

In [ ]:
#Write code here

Q18. Sum and Average of Entered Numbers
Write a program that keeps accepting numbers from the user until zero is entered. Display the sum and average of the numbers.

In [ ]:
#Write code here

In [ ]:
Q19. Using conditional statement design a menu driven calculator. It should take two operands 
and operation to be done as input and do the calculation.

In [ ]:
#Write code here

In [ ]:
Q20. Make a restaurant menu and suggest best dish for a veg starter except paneer.

In [ ]:
#Write code here

In [ ]:
Q21. Design an ATM using conditionals.

In [ ]:
#Write code here