Tuple: 
- Tuple is similer to list.
- tuple is immutable
- It has index, order, allow duplicates value

A tuple in Python is a collection of objects separated by commas and enclosed within parentheses (). Tuples are similar to lists but with a key difference: they are immutable, meaning once a tuple is created, its elements cannot be changed, added, or removed

**Creating Tuples:**

Tuples can be created in several ways:

Using round brackets: mytuple = ("apple", "banana", "cherry") print(mytuple)

With one item (note the comma): single_item_tuple = ("apple",) print(type(single_item_tuple)) # Output: <class 'tuple'>

Using the tuple() constructor: mytuple = tuple(("apple", "banana", "cherry")) print(mytuple)

Characteristics of Tuples

Ordered: The items have a defined order that will not change.

Immutable: Once created, the elements of a tuple cannot be changed.

Allow Duplicates: Tuples can contain duplicate values.

Accessing Tuple Elements

You can access tuple elements using indexing:

Positive Indexing: mytuple = ("apple", "banana", "cherry") print(mytuple[0]) # Output: apple

Negative Indexing: mytuple = ("apple", "banana", "cherry") print(mytuple[-1]) # Output: cherry

Tuple Operations

Concatenation: tuple1 = (0, 1, 2, 3) tuple2 = ('python', 'geek') print(tuple1 + tuple2) # Output: (0, 1, 2, 3, 'python', 'geek')

Nesting: tuple1 = (0, 1, 2, 3) tuple2 = ('python', 'geek') nested_tuple = (tuple1, tuple2) print(nested_tuple) # Output: ((0, 1, 2, 3), ('python', 'geek'))

Repetition: repeated_tuple = ('python',) * 3 print(repeated_tuple) # Output: ('python', 'python', 'python')

Slicing: mytuple = (0, 1, 2, 3) print(mytuple[1:]) # Output: (1, 2, 3) print(mytuple[::-1]) # Output: (3, 2, 1, 0) print(mytuple[2:4]) # Output: (2, 3)

Important Considerations

Length: Use len() to find the number of items in a tuple. mytuple = ("apple", "banana", "cherry") print(len(mytuple)) # Output: 3

Conversion: Convert a list to a tuple using the tuple() constructor. mylist = [0, 1, 2] print(tuple(mylist)) # Output: (0, 1, 2)

Deletion: You cannot delete individual elements, but you can delete the entire tuple using del. mytuple = (0, 1) del mytuple

Tuples are a fundamental data structure in Python, offering a way to store multiple items in a single variable while ensuring the data remains unchanged

In [5]:
t = ()

In [7]:
type(t)

tuple

In [9]:
t1 = ('CC',8+2j, True,1,2,3.4)

In [11]:
# Access to the element
t1[0]

'CC'

In [13]:
# for one element we use comma

In [17]:
t1=(2)

In [19]:
type(t1)

int

In [21]:
t1= (2,)

In [23]:
type(t1)

tuple

In [25]:
t1.count(1)

0

In [27]:
t1 = ('CC',8+2j, True,1,2,3.4)

In [29]:
t1.count(1)

2

In [33]:
#max(t1)

In [35]:
t = ([1,2,3],'Ram',1,2,3)

In [37]:
t

([1, 2, 3], 'Ram', 1, 2, 3)

In [39]:
len(t)

5

In [41]:
"Ram" in t

True

In [43]:
"Ram" not in t

False

In [45]:
t1 = (4,5,6,7)

In [47]:
t+t1

([1, 2, 3], 'Ram', 1, 2, 3, 4, 5, 6, 7)

In [49]:
t[1]

'Ram'

In [51]:
t[1] = 'Rajkumar'

TypeError: 'tuple' object does not support item assignment

**Difference between List and Tuple:**

- Lists are suitable for collections of items that may need to be modified, such as adding or removing elements.

- Tuples are suitable for collections of items that should not change, such as configuration settings or constant values

- Tuples are faster then list.

In [1]:
from time import perf_counter
start = perf_counter()
tup = tuple(range(1000))
for i in tup:
    i*100
end = perf_counter()

In [3]:
a,b,c,*d = (1,2,3,4,5,6,7,8)

In [5]:
a

1

In [7]:
b

2

In [9]:
c

3

In [11]:
d

[4, 5, 6, 7, 8]

In [13]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
tuple(zip(t1,t2))

((1, 5), (2, 6), (3, 7), (4, 8))

In [15]:
a = ('Name','Price')
b = ('Samosa','15')
tuple(zip(a,b))

(('Name', 'Samosa'), ('Price', '15'))

**Set:**

- Sets are used to store multiple items in a single variable.

- Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different   qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.
* Note: Sets are unordered, so you cannot be sure in which order the items will appear.
* Unchangeable: Once a set is created, you cannot change its items, but you can remove items and add new items.
* Duplicates Not Allowed: Sets cannot have two items with the same value.
* Note: The values True and 1 are considered the same value in sets, and are treated as duplicates
* Note: The values False and 0 are considered the same value in sets, and are treated as duplicates
* Set items are unchangeable, but you can remove items and add new items.
* As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Sets are written with curly brackets.

In [20]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [23]:
#True and 1 is considered the same value:

thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

In [25]:
#False and 0 is considered the same value:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'cherry', 'apple', 'banana'}

In [34]:
s = {1,2,3,4,5,6,(0,9,8)}
s

{(0, 9, 8), 1, 2, 3, 4, 5, 6}

In [36]:
s1 = {1,2,3,4,5,6,[0,9,8]}

TypeError: unhashable type: 'list'

**why mutable data type is not allowed ?**
- Ans: Set is unindexed and it have unique value

In [38]:
# TypeError: unhashable type: 'list' why this error is comming.

In [40]:
{1,2,2,"rajkumar","Rajbhar"}

{1, 2, 'Rajbhar', 'rajkumar'}

In [42]:
# set is unindexed and can not be edit but can be add element

In [44]:
s = {1,2,3,4,5,6}

In [48]:
s.add(7)

In [50]:
s

{1, 2, 3, 4, 5, 6, 7}

In [54]:
s.update([8])

In [56]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [58]:
s.discard(7)

In [60]:
s

{1, 2, 3, 4, 5, 6, 8}

In [62]:
s.remove(4)

In [64]:
s

{1, 2, 3, 5, 6, 8}

In [66]:
s.discard(11)

In [68]:
s.remove(11)

KeyError: 11

In [70]:
s.clear()

In [80]:
s.add(2)

In [82]:
s

{1, 2}

In [86]:
s.clear()

In [88]:
del s

In [90]:
s

NameError: name 's' is not defined

In [92]:
# Creating sets
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

**Union**

The union of two sets includes all elements from both sets. It can be performed using the | operator or the union() method:

In [95]:
# Union
print("Union:", A | B) # Output: {0, 1, 2, 3, 4, 5, 6, 8}
print("Union using union():", A.union(B))

Union: {0, 1, 2, 3, 4, 5, 6, 8}
Union using union(): {0, 1, 2, 3, 4, 5, 6, 8}

In [97]:
A.union(B)

{0, 1, 2, 3, 4, 5, 6, 8}

In [105]:
# Defining the two sets
first_set = {1, 5, 7, 4, 5}
second_set = {4, 5, 6, 7, 8}
 
# Creating the intersection of the two sets
new_set = first_set & second_set

 
print(new_set) # Output: {4, 5}

{4, 5, 7}

In [107]:
first_set.intersection(second_set)

{4, 5, 7}

In [109]:
# Defining the two sets
first_set = {1, 5, 7, 4, 5}
second_set = {4, 5, 6, 7, 8}
 
# Creating the difference of the two sets
new_set = first_set - second_set
 
print(new_set) # Output: {1, 2, 3}

{1}

In [111]:
# Difference of two sets
# Initialize A and B
first_set = {1, 2, 3, 4, 5}
second_set = {4, 5, 6, 7, 8}
 
# Creating the difference between the two sets
new_set = second_set.difference(first_set)
 
print(new_set) # Output: {6, 7, 8}

{8, 6, 7}

In [113]:
first_set.symmetric_difference(second_set)

{1, 2, 3, 6, 7, 8}

In [115]:
#membership1
1 in first_set

True

In [117]:
s = {1,2,3}
s1= {3,4,5}
s.isdisjoint(s1)  # No common elements

False

In [121]:
s={1,2,3,4,5}
s1 = {4}
s.issubset(s1)

False

In [123]:
s.issuperset(s1)

True

In [125]:
# frozenset >> it is immutable version of set

In [127]:
f = frozenset([1,2,3,4])

In [129]:
f

frozenset({1, 2, 3, 4})

In [131]:
type(f)

frozenset

In [133]:
f.add([1,2])

AttributeError: 'frozenset' object has no attribute 'add'

In [135]:
f1 = frozenset([1,2,3,4])
f2 = frozenset([5,6,7,8])
f1&f2

frozenset()

In [137]:
f1|f2

frozenset({1, 2, 3, 4, 5, 6, 7, 8})